<style type="text/css">
.angular-google-map-container {
	width: 100%;
	height: 600px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
	max-width: inherit;
}


.angular-google-map {
	top:80px;

}
</style>

<div ng-controler="ContactCtrl">
	<h1>{{ message }}</h1>
	and its content:
	<h2>{{ message.content }}</h2>
</div>
<div ng-controller="MapCtrl">
	<h1>{{ messageMap }}</h1>
	and its content:
	<h2>{{ messageMap.content }}</h2>
	<google-map center="map.center" zoom="map.zoom"></google-map>
</div>
